body {
    background-color: black;
}

#ProjectWindow {
    height: 480px;
    width: 960px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
/*    background-color: #36455C;*/
    background-image: url('/img/background.png');
}

#GameWindow {
    width: 896px;
    height: 384px;
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2A3647;
    margin-top: 48px;
    margin-bottom: auto;
}

#terraria{
    width: 640px;
    height: 384px;
    background-color: red;
    display: inline-block;
}
#dropshaft{
    width: 256px;
    height: 384px;
    background-color: blue;
    float: right;
}